body { margin: 0;}

header, main, section, footer, article, figure, figcaption, nav, div { display: block; }

h1, h2, h3, h4, h5, h6, p, figure {margin: 0;}

h5, p, a, span, form, input, select, textarea, option, button, div, h1, h2, h3, h4, nav, footer {font-family: 'DotGothic16', sans-serif;}

header {
    width: 100%;
    height: 90px;
    margin: 0;
    position: fixed;
    float: none;
    z-index: 99999;
    top: 0;
    left: 0;
    background: white;

}

header article  {
    width: 700px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    float: none;
}

header article figure#logo {
    width: 100px;
    height: 90px;
    margin: 0;
    position: relative;
    float: left;}

header article figure a {}

header article figure a img {
    width: 100px;
    height: 90px;
}

header article nav#navegacion {
    width: 480px;
    height: 40px;
    margin: 40px 0 0 0;
    float: right;
    position: relative;}


header article nav a{ 
    width: auto;
    height: auto;
    margin: 0 5px;
    float: left;
    position: relative;
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 1em;
    line-height: 1em;
    transition: all 0.3s ease-in;
    text-align: center;}
    

header article nav a:hover{
    border-radius: 10px;
    border: cornflowerblue;
    background-color: cornflowerblue;
    transition: all 0.3s ease-in;
    


}    

header article nav a:last-child {

}



footer#logo1{
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    color: white;
    margin: 0;
} 

footer figure {
    text-align: center;
    
    
    
}

footer figure h6 {
    font-size: large;
    margin: 0;
    letter-spacing: 0.5em;
    text-shadow:black
    
    
    
}

footer figure a  {
    
}

footer figure a img {
    width: 85px;
    height: 100px;
    
}




